@import './utils/variables';
@import './base/fonts';
@import './base/common';
@import './base/container';

@import './components/button';
@import './components/_mobile-menu';
@import './components/menu';
@import './components/logo';
@import './components/header-nav';
@import './components/curent';
@import './components/title';
@import './components/header-icon';
@import './components/h1';
@import './components/modal-form';
@import './components/modal-checkbox';
@import './components/modal-button';
@import './components/description-item';
@import './components/work';
@import './components/social-link';
@import './components/social-icons';
@import './components/footer-form';
@import './components/adres';
@import './components/portfolio-button';
@import './components/portfolio-cards';

@import './layouts/header';
@import './layouts/section';
@import './layouts/footer';
@import './layouts/modal';
@import './layouts/clients';
@import './layouts/cards';

.fb_dialog_content>iframe {
    bottom: 100px !important;
    right: 23px !important;
    animation: none !important;
    visibility: hidden !important;
}
