.adres {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.adres__link {
  display: flex;
  padding: 0;
  color: var(--title-second-color);

  @media screen and (min-width: 480px) {
    justify-content: center;
    margin-bottom: 8px;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    justify-content: start;
    margin-bottom: 9px;
  }
}
