.description {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.description__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 1 * 30px) / 1);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.description__item::before {
  display: inline-block;
  content: '';
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--color-button-portfolio);
  background-repeat: no-repeat;
  background-position: center;
}

.description__item:nth-child(1)::before {
  background-image: url(../images/icons-svg/section-features/antenna.svg);
}

.description__item:nth-child(2)::before {
  background-image: url(../images/icons-svg/section-features/clock.svg);
}

.description__item:nth-child(3)::before {
  background-image: url(../images/icons-svg/section-features/diagram.svg);
}

.description__item:nth-child(4)::before {
  background-image: url(../images/icons-svg/section-features/astronaut.svg);
}
