.menu {
  display: inline-flex;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: flex;
}

.contacts:not(:last-child) {
  margin-right: 30px;
}
