.menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.connection {
  @media screen and (min-width: 768px) {
    flex-direction: column;
    padding: 21px 0;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.menu__item {
  position: relative;
}

.web-menu:not(:last-child) {
  margin-right: 50px;
}

.menu__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.menu__link {
  display: flex;
  padding: 0;
}

.contacts:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
