.social__icons {
  display: flex;

  @media screen and (min-width: 480px) {
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    justify-content: start;
  }
}

.social__icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--color-social__icons);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.footer__icon {
  fill: var(--title-second-color);
}

.social__icons__item:not(:last-child) {
  margin-right: 10px;
}
