.social__icons {
  display: inline-flex;
}

.social__icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--color-social__icons);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.footer__icon {
  fill: var(--title-second-color);
}

.social__icons__item:not(:last-child) {
  margin-right: 10px;
}
