:root {
  --color-logo: #000000;
  --main-text-color: #757575;
  --title-color: #212121;
  --title-second-color: #ffffff;
  --hover-color: #2196f3;
  --button-hover-color: #188ce8;
  --dark-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --nav-footer-color: rgba(255, 255, 255, 0.6);
  --title-font: Roboto, sans-serif;

  --color-button-portfolio: #f5f4fa;
  --container-border-color: #eeeeee;

  --color-social__icons: #afb1b8;
}
