.partners__link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: currentColor;
  padding: 0;
  width: 100%;
  height: 90px;
  border: 1px solid var(--color-social__icons);
  border-radius: 4px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  background-repeat: no-repeat;
  background-position: center;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;

  &:hover,
  &:focus {
    border-color: currentColor;
  }

  &:hover .icon,
  &:focus .icon {
    fill: currentColor;
  }
}
