html>body.plugin>div>div>div>div{
    background-color: red !important;
}

#fb-customer-chat.theme_color:hover{
    background-color: #ff0000;
}

.fb_dialog_content>iframe {
    visibility: hidden !important;
}
