.header {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #ececec;
  }
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.portfolio__header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
